
            <div class="main-title" style="margin-bottom: 30px;">
                <h5 style="margin: 0; color: #383F4C; font-size: 20px;">{{'Post New Ad' | translate}} </h5>
            </div>
            <!-- End Title -->
            <div class="post-new">
                <div class="row">
                    <div class="col-xl-4 col-sm-12">
                        <div class="new">
                            <div class="person">
                                <img appImage src="{{user?.image}}" class="rounded-circle" alt="User Image" width="70">
                                <div class="data-person">
                                    <h6>{{user?.name}}</h6>
                                    <span>Member Since {{user?.created_at | date }}</span>
                                </div>
                            </div>
                            <!-- Start List Links -->
                            <ul class="list-unstyled text-uppercase">
                                <!-- <li><a href="#"><i class="fas fa-user"></i> <span>about me</span></a></li> -->
                                <li>
                                    <a href="#"><i class="fas fa-suitcase"></i> <span>{{'my ads' | translate}}</span></a>
                                    <span class="count float-right">10</span>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-heart"></i> <span>{{'watch later ads' | translate}}</span></a>
                                    <span class="count float-right">44</span>
                                </li>
                                <!-- <li><a href="#"><i class="fas fa-cogs"></i> <span>profile settings</span></a></li>
                                <li><a href="#"><i class="fas fa-sign-out-alt"></i> log out</a></li> -->
                            </ul>
                        </div>
                        <!-- End New -->
                    </div>
                    <!-- Col #1 -->

                    <div class="col-xl-8 col-sm-12">
                        <div class="details">
                            <h6 class="small-title">{{ 'ad Details' | translate}} :</h6>
                            <span class="line"></span>
                            <!-- Start Form -->
                            <form #create="ngForm" (ngSubmit)="createadd(create)" class="dropzone dz-clickable">
                                <div class="form-group row">
                                    <span class="col-sm-4 col-form-label">{{'Ad Title' | translate}} :<span class="red">*</span></span>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control mb-2" placeholder="{{'Write a title for your ad' | translate}}" dir="auto" name="addtitle" ngModel required>
                                        <small class="form-text text-muted text-danger">{{'Type minimum 5 characters' | translate}}</small>


                                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <span class="col-sm-4 col-form-label">{{'Ad Description' | translate}} :<span class="red">*</span></span>
                                    <div class="col-sm-8">
                                        <textarea class="form-control mb-2" dir="auto"    name="description"  ngModel required   ></textarea>
                                        <small class="form-text text-muted">{{'Write description' | translate}}</small>
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                    <span class="col-sm-4 col-form-label">{{'Keywords' | translate}} :</span>
                                    <div class="col-sm-8">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-tag"></i></div>
                                            </div>
                                            <input type="text" class="form-control control2" placeholder=" {{'Enter keywords for better search' | translate}}..!" dir="auto" name="adddisc" ngModel required>
                                        </div>
                                        <small class="form-text text-muted">{{'Keywords Example' | translate}} : ads, car, cat,business</small>
                                    </div>
                                </div> -->
                                <div class="form-group row">
                                    <span class="col-sm-4 col-form-label">{{'Phone Number' | translate}} :</span>
                                    <div class="col-sm-8">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-phone-square"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control control2" placeholder="{{'Write your phone number' | translate}}" value="{{user.mobile}}" dir="auto" name="mobile" ngModel  required>
                                        </div>
                                    </div>
                                </div>

                               
                                <div class="form-group row">
                                    <span class="col-sm-4 col-form-label">{{'Select Country' | translate}} :<span class="red">*</span></span>
                                    <div class="col-sm-8">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-globe"></i></div>
                                            </div>
                                            <select class="form-control control2">
                                                <option selected="">{{'Select Country' | translate}}</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <span class="col-sm-4 col-form-label">{{'Select City' | translate}} :<span class="red">*</span></span>
                                    <div class="col-sm-8">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-globe"></i></div>
                                            </div>
                                            <select class="form-control control2">
                                                <option selected="">{{'Select City' | translate}}</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <span class="col-sm-4 col-form-label">{{'Map Location' | translate}} :</span>
                                    <div class="col-sm-8">
                                        <div class="map">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232565.37346064637!2d54.41853622413337!3d24.387078860425174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e440f723ef2b9%3A0xc7cc2e9341971108!2sAbu+Dhabi+-+United+Arab+Emirates!5e0!3m2!1sen!2s!4v1552388228569" width="400" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group" style="margin-bottom: 15px;">
                                    <button type="submit" class="button "><i class="far fa-check-circle"></i> {{'Publish My Ad' | translate}}</button>
                                </div>
                                <div class="dz-default dz-message"><span>{{'Drop files here to upload' | translate}}</span>
                                </div>
                        </form>
                            <!-- End Form-->
                            <p>By clicking "Publish Ad", you agree to our <a href="#">Terms of Use</a> and acknowledge that you are the rightful owner of this item</p>
                        </div>
                        <!-- End Details -->
                    </div>
                    <!-- Col #2 -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Post-New -->
   
