<div class="terms-content">
    <h3 style="font-size: 21px; text-transform: none; margin-bottom: 20px">{{ ('Terms & conditions' | translate) |titlecase  }}</h3>
    <div class="container">
      <div *ngIf="data"  style="color: black;">
          <ng-container *ngIf="translte.getlocalLang()=='en'" > {{data.terms}} </ng-container>
          <ng-container *ngIf="translte.getlocalLang()=='ar'" >  {{data.ar_terms}} </ng-container>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores facilis quis molestias laborum, qui fugiat quibusdam similique vel quasi tenetur minima accusantium velit aperiam sit. Officiis, facilis, odio. Odio, neque ipsum dolor sit amet, consectetur adipisicing elit. Dolores facilis quis molestias laborum, qui fugiat quibusdam similique vel quasi tenetur minima accusantium velit aperiam sit. Officiis, facilis, odio. Odio, neque.</p>
        </div>
        <div class="col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores facilis quis molestias laborum, qui fugiat quibusdam similique vel quasi tenetur minima accusantium velit aperiam sit. Officiis, facilis, odio. Odio, neque ipsum dolor sit amet, consectetur adipisicing elit. Dolores facilis quis molestias laborum, qui fugiat quibusdam similique vel quasi tenetur minima accusantium velit aperiam sit. Officiis, facilis, odio. Odio, neque.</p>
        </div>
        <div class="col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores facilis quis molestias laborum, qui fugiat quibusdam similique vel quasi tenetur minima accusantium velit aperiam sit. Officiis, facilis, odio. Odio, neque ipsum dolor sit amet, consectetur adipisicing elit. Dolores facilis quis molestias laborum, qui fugiat quibusdam similique vel quasi tenetur minima accusantium velit aperiam sit. Officiis, facilis, odio. Odio, neque.</p>
        </div>
        <div class="col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores facilis quis molestias laborum, qui fugiat quibusdam similique vel quasi tenetur minima accusantium velit aperiam sit. Officiis, facilis, odio. Odio, neque ipsum dolor sit amet, consectetur adipisicing elit. Dolores facilis quis molestias laborum, qui fugiat quibusdam similique vel quasi tenetur minima accusantium velit aperiam sit. Officiis, facilis, odio. Odio, neque.</p>
        </div>
    </div> -->
    <!-- End Faq -->
</div>
