
<div class="container">
    <div class="reset-page" style="position: static; transform: none; margin: auto; margin-top: 20px;">
  <div class="panel text-center">
      <img src="http://admin.just-cost.com/storage/products_media/dd.jpg" alt="Just Coast Logo" width="250">
      <div>
          <h4 style="text-transform: none;">Hi, {{name | json}}</h4>
      </div>
      <div>
          <p style="text-transform: none;">We got a request to reset your Account Password.</p>
      </div>
      <form action="" method="" class="mt-4 mb-4">
          <a routerLink="/home" class="btn btn-primary">Go Back Home</a>
      </form>
      <p style="text-transform: none">if you ignore this message, your password won't be changed.</p>
  </div>
</div>
</div>
