<div *ngIf="loaded" class="fb-item">
        <div class="first-section-wrapper">
          <div class="gravatar">
            <ngx-skeleton-loader appearance="circle" [theme]="{ width: '100px', height: '100px' }">
            </ngx-skeleton-loader>
          </div>
          <div class="gravatar-title">
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  width: '200px',
                  'border-radius': '0',
                  height: '25px',
                  'margin-bottom': '10px'
                }"
              ></ngx-skeleton-loader>
            </div>
            <div>
              <ngx-skeleton-loader
                [theme]="{ width: '170px', 'border-radius': '0', height: '25px' }"
              ></ngx-skeleton-loader>
            </div>
          </div>
        </div>
        <div class="second-section-wrapper">
          <div class="wrapper">
            <ngx-skeleton-loader
              [theme]="{
                width: '80%',
                'border-radius': '0',
                height: '25px',
                'margin-bottom': '10px'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div class="wrapper">
            <ngx-skeleton-loader
              [theme]="{
                width: '90%',
                'border-radius': '0',
                height: '25px',
                'margin-bottom': '10px'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div class="wrapper">
            <ngx-skeleton-loader
              [theme]="{
                width: '60%',
                'border-radius': '0',
                height: '25px',
                'margin-bottom': '10px'
              }"
            ></ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <!-- loading -->
<div *ngIf="!loaded" class="profile">
    <h3 style="font-size: 25px;"> {{"my profile"| translate}} </h3>
    <div class="row">
        <div class="col-xl-4 col-sm-12">
            <div class="panel-profile">
                <!--
                <div class="person-icon float-left">
                    <i class="far fa-user fa-fw"></i>
                </div>
-->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{"Select Image"| translate}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form>
                            <div class="form-group">
                              <input (change)="onImgSelect($event)" type="file" class="form-control-file" name="profile">
                            </div>
                          </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"Close" | translate}}</button>
              <button [disabled]="imageLoaded" (click)="onImgSubmit()" type="button" class="btn btn-primary">
                {{"Save changes"|translate}}
                <i *ngIf="imageLoaded"  class="fa fa-spinner fa-spin"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

                <div class="small-12 medium-2 large-2 columns float-left">
                    <div class="circle">
                        <!-- User Profile Image -->
                        <img appImage class="profile-pic" [src]="getprofile?.image">

                        <!-- Default Image -->
                        <i class="far fa-user fa-fw"></i>
                    </div>
                    <div class="p-image">
                        <i  data-toggle="modal" data-target="#imgModal" class="fas fa-camera fa-fw upload-button" (click)="openImg()"></i>
                        <input class="file-upload" type="file">
                    </div>
                </div>

                <div class="person-name float-left">
                    <h5 class="name"> {{getprofile?.name}} </h5>
                    <span>{{getprofile?.email}} </span>
                    <div class="level" >
                        <!-- <p>Level <span class="alert-num">1</span> | Votes <span class="alert-num">2500</span></p> -->
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="account my-2 mx-3">
                    <div class="data text-center">
                        <h6> {{"My Ads"| translate}} </h6>
                        <span> ({{totalMyAds}}) </span>
                    </div>
                    <div class="data text-center">
                        <h6> {{"Active Ads" | translate}} </h6>
                        <span> ( {{totalActive}} ) </span>
                    </div>
                    <div class="data text-center">
                        <h6> {{"Payed Ads" | translate}} </h6>
                        <span>( {{totalPaid}} )</span>
                    </div>
                </div><!-- End Account -->
            </div>
        </div><!-- End Col #1 -->
        <div class="col-xl-8 col-sm-12">
            <div class="panel-profile" style="padding: 0;">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                            <i class="fas fa-shopping-cart"></i>{{"My Ads"| translate}} </a>
                        <a class="nav-item nav-link" id="nav-home-pending" data-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-profile" aria-selected="false">
                            <i class="fas fa-shopping-cart"></i>{{"Pending"| translate}} </a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                            <i class="fas fa-heart"></i>{{"My Fav"| translate}} </a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-edit" role="tab" aria-controls="nav-profile" aria-selected="false">
                            <i class="far fa-user"></i> {{"Edit Profile"| translate}} </a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                        <div class="classic" *ngFor="let item of myAds | paginate:  { id: 'myAds', itemsPerPage: 4, currentPage: p2 }">
                            <div class="ads">

                                <div class="image float-left">
                                    <img appImage [src]="item.brand_name" alt="Image" width="100">
                                    <span> {{item.status.name}} </span>

                                </div><!-- Image -->

                                <div class="text-image float-left">
                                    <h6> <a routerLink="/ads/{{item?.id}}"> {{item?.ad_title}} </a>  </h6>
                                    <a href="#"><i class="far fa-map"></i> {{item?.cityId?.name}} </a> |
                                    <a href="#"><i class="fas fa-tag"></i>Cars</a> |
                                    <a href="#"><i class="far fa-calendar"></i> {{ (item?.created_at*1000) | timeAgo}} </a>
                                </div>

                                <!-- <div class="view float-left text-center">
                                    <h6><i class="far fa-eye"></i> View</h6>
                                    <span>( 520 )</span>
                                </div>
                                <div class="view float-left  text-center">
                                    <h6><i class="far fa-comments"></i>Comments</h6>
                                    <span>( 71 )</span>
                                </div>
                                <div class="view float-left  text-center">
                                    <h6><i class="fas fa-star"></i> Rating</h6>
                                    <span>( +3 )</span>
                                </div> -->
                                <div class="clearfix"></div>


                            </div>
                        </div><!-- End Classic -->
                        <div class="paginaion text-center">
                            <pagination-controls id="myAds" class="my-pagination" (pageChange)="p2 = $event"></pagination-controls>
                        </div>
                    </div>
                    <div class="tab-pane" id="nav-nav-pending" role="tabpanel" aria-labelledby="nav-home-pending">

                        <div class="classic" *ngFor="let item of myAds | paginate:  { id: 'pending', itemsPerPage: 4, currentPage: p2 }">
                            <div class="ads">

                                <div class="image float-left">
                                    <img appImage [src]="item.brand_name" alt="Image" width="100">
                                    <span> {{item.status.name}} </span>

                                </div><!-- Image -->

                                <div class="text-image float-left">
                                    <h6> <a routerLink="/ads/{{item?.id}}"> {{item?.ad_title}} </a>  </h6>
                                    <a href="#"><i class="far fa-map"></i> {{item?.cityId?.name}} </a> |
                                    <a href="#"><i class="fas fa-tag"></i>Cars</a> |
                                    <a href="#"><i class="far fa-calendar"></i> {{ (item?.created_at*1000) | timeAgo}} </a>
                                </div>

                                <!-- <div class="view float-left text-center">
                                    <h6><i class="far fa-eye"></i> View</h6>
                                    <span>( 520 )</span>
                                </div>
                                <div class="view float-left  text-center">
                                    <h6><i class="far fa-comments"></i>Comments</h6>
                                    <span>( 71 )</span>
                                </div>
                                <div class="view float-left  text-center">
                                    <h6><i class="fas fa-star"></i> Rating</h6>
                                    <span>( +3 )</span>
                                </div> -->
                                <div class="clearfix"></div>


                            </div>
                        </div><!-- End Classic -->
                        <div class="paginaion text-center">
                            <pagination-controls id="pending" class="my-pagination" (pageChange)="p2 = $event"></pagination-controls>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <!-- <a href="#" class="button button2">Remove Selected</a> -->
                        <div class="classic classic2" *ngFor="let item of LikedProducts | paginate:  { itemsPerPage: 4, currentPage: p }">
                            <div class="ads">

                                <div class="view float-left text-center py-3 px-3">
                                    <input type="checkbox" class="box" id="box1">
                                    <!-- <label for="box1"> {{item.title}} </label> -->
                                </div>

                                <div class="image float-left">
                                    <img appImage [src]="item.media[0].url"  alt="Image" width="100">
                                </div><!-- Image -->

                                <div class="text-image float-left">
                                    <h6> <a routerLink="/product/{{item?.productId}}">  {{item.title}} </a> </h6>
                                    <a href="javascript:;"><i class="far fa-map"></i>{{item.city}}</a> |
                                    <a href="javascript:;"><i class="fas fa-tag"></i> {{item.category}} </a> |
                                    <a href="javascript:;"><i class="far fa-calendar"></i>{{ (item.postedOn*1000) | timeAgo}}</a>
                                </div>


                                <div class="view float-right  text-center" style="margin-top: -9px">
                                    <span class="alert-yellow"> {{ (((item.reg_price-item.sale_price)/item.reg_price)*100) | number:'1.0-0' }}% {{"off" | translate}} </span>
                                    <span class="red">AED {{item.sale_price}}</span>
                                </div>

                                <div class="clearfix"></div>


                            </div>
                        </div><!-- End Classic2 -->

                        <!-- Paginagion -->
                        <div class="paginaion text-center">
                            <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div><!-- Tab #2 -->

                    <!-- Tab #3 -->
                    <div class="tab-pane fade" id="nav-edit" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <form  #edit="ngForm" (ngSubmit)="editprofile(edit)" class="mx-3">
                            <div class="form-group row">
                                <span class="col-sm-2 col-form-label"> {{"Name" | translate}} </span>
                                <div class="col-sm-8">
                                    <input  type="text" name="name"  #name="ngModel" [(ngModel)]="getprofile.name" [class.is-valid]="name.valid && name.touched" [class.is-invalid]="name.invalid && (name.touched || edit.submitted)" ngModel required class="form-control mb-2" placeholder="Enter your Name" dir="auto">
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="col-sm-2 col-form-label"> {{"Email" | translate}} </span>
                                <div class="col-sm-8">
                                    <input [value]="getprofile?.email" type="text" name="email"  #email="ngModel" [(ngModel)]="getprofile.email" [class.is-valid]="email.valid && email.touched" [class.is-invalid]="email.invalid && (email.touched || edit.submitted)" ngModel required email placeholder="Enter your Name" class="form-control mb-2" placeholder="example@mail.com" dir="auto">
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="col-sm-2 col-form-label"> {{"Phone Number"|translate}} </span>
                                <div class="col-sm-8">
                                    <input [value]="getprofile?.mobile" type="text" name="mobile" #mobile="ngModel" [(ngModel)]="getprofile.mobile" [class.is-valid]="mobile.valid && mobile.touched" [class.is-invalid]="mobile.invalid && (mobile.touched || edit.submitted)" ngModel required class="form-control mb-2" placeholder="00000-0000-00" dir="auto">
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="col-sm-2 col-form-label"> {{"City" | translate}} </span>
                                <div class="col-sm-8">
                                    <select class="form-control mb-2" name="city" #city="ngModel" ngModel [(ngModel)]="getprofile.city.id"  id="city" dir="auto">
                                        <option *ngFor="let item of cities" [selected]="getprofile.city.id == item.id" [value]="item.id"> {{item.name}} </option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                                <span class="col-sm-2 col-form-label">Phone No</span>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control mb-2" placeholder="Enter Phone No" dir="auto">
                                </div>
                            </div> -->
                            <button type="submit" class="button"> {{"Save Data" | translate}} <i *ngIf="editResponse" class="fa fa-spinner fa-spin" ></i> </button>
                        </form>
                    </div><!-- Tab #3 -->
                </div>
            </div><!-- End Panel -->
        </div><!-- End Col #1 -->
    </div><!-- End Row -->
</div><!-- End Profile -->
