.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  margin: 0;
  list-style: none; 
  width: 100%; 
  padding: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown .nav-link {
  border: none;
  margin: 0;
  padding: 0.4em 0.8em;
  font-size: 1em;
}

.dropdown a {
  display: block;
  padding: 0.2em 0.8em;
  text-decoration: none;
  color: #333333;
}

.dropdown .dropdown-menu a:hover {
  background: #BBBBBB;
}
.dropdown .dropdown-menu a i {
  margin-right: 10px;
}


header {
  background-color: #f8f9fa;
}
header .navbar {
  padding: 0;
}
header .navbar a {
  color: #393e46;
}
.navbar .navbar-toggler-icon {
  background-image: url("../images/menu.svg");
}
.navbar .collapsed .navbar-toggler-icon {
  background-image: url("../images/cancel.svg");
}
.navbar .navbar-nav .nav-item .nav-link {
  padding-right: 0.7rem !important;
  padding-left: 0.7rem !important;
}

header .navbar img {
  width: 100px;
}
header a.icon-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header a.icon-top span,
header a.icon-top i {
  padding: 3px;
}
header a.icon-top span {
  font-size: 14px;
}
header a.icon-top i {
  font-size: 16px;
}
header .btn-add-post {
  background-color: #facb33;
  color: #2d2d2d;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
header .btn-add-post span {
  margin-left: 15px;
}
header .selection .nav-item {
  margin: 0 15px;
}
header .selection .nav-item:first-child {
  margin-left: 0;
}
header .selection .nav-item:last-child {
  margin-right: 0;
}

header .selection img.flag {
  width: 28px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
header .selection {
  margin: 0 10px;
}

header .selection .language {
  position: relative;
}
header .selection .language:after {
  content: " ";
  width: 2px;
  height: 80%;
  position: absolute;
  background-color: #cccc;
  top: 5px;
  right: -15px;
}
header .selection .language span {
  margin-left: 10px;
}

header .custom-select {
  border: 0;
  background-color: transparent;
}
header .profile-icons .nav-item:first-child a {
  position: relative;
}
header .profile-icons .nav-item:first-child a:after {
  content: " ";
  width: 2px;
  height: 60%;
  position: absolute;
  background-color: #cccc;
  top: 13px;
  right: -15px;
}

header .profile-icons .nav-item {
  margin: 0 15px;
}
header .profile-icons .nav-item:first-child {
  margin-left: 0;
}
header .profile-icons .nav-item:last-child {
  margin-right: 0;
}
/* Header Search Area */
.search-area {
  background-image: url("../images/search-area-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0;
}
.search-area .form-control,
.search-area .btn,
.search-area .custom-select {
  border: 0;
}
.search-area .search-input i {
  margin-right: 10px;
}
.search-area .search-input .btn {
  background-color: #facb33;
  color: #2d2d2d;
}
.search-area h2 {
  color: #facb33;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
.categories-area {
  border-bottom: 1px solid #ccc;
}
.categories-area .nav-item a {
  color: #2d2d2d;
  position: relative;
  padding: 1rem;
  transition: background-color 0.1s ease-in-out;
  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -ms-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
}
.categories-area .nav-item a:hover {
  background-color: #fbfbfb;
}
.categories-area .nav-item:not(:last-child) a::after {
  /* content: " "; */
  width: 1px;
  height: 70%;
  position: absolute;
  background-color: #cccc;
  top: 7px;
  right: 0;
}

/* Responsive - Small Screen and less */
@media only screen and (max-width: 992px) {
  header .selection .nav-item {
    margin: 0;
  }
  header .custom-select {
    width: 200px;
    padding: 0;
  }
  header a.icon-top {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header .profile-icons .nav-item:last-child {
    margin-left: 0;
  }
  header .selection .language:after, header .profile-icons .nav-item:first-child a:after {
  display: none;
  }
}
