<div class="about-us">
    <h3 style="font-size: 25px; text-transform: none">About us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic amet quis ducimus reiciendis aut ad est iste temporibus saepe cumque consequatur suscipit consequuntur provident expedita, sit sapiente iure odio, incidunt saepe cumque consequatur suscipit consequuntur provident expedita, sit sapiente iure odio, incidunt.</p>
    <div class="row">
        <div class="col-xl-4 col-sm-12">
            <div class="box-about">
                <h5>Our Mission</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam commodi iusto quasi natus! Possimus sint porro tenetur quasi.</p>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12">
            <div class="box-about">
                <h5>Our Vission</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam commodi iusto quasi natus! Possimus sint porro tenetur quasi.</p>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12">
            <div class="box-about">
                <h5>Why us</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam commodi iusto quasi natus! Possimus sint porro tenetur quasi.</p>
            </div>
        </div>
    </div>

</div><!-- End Profile -->
