<div class="main-title main-title2" style="margin-bottom: 30px;">
    <small><a href="#">Home</a> <i class="fas fa-chevron-right"></i> <a href="#">Categories </a> <i class="fas fa-chevron-right"></i> Computers</small>
</div><!-- End Title -->

<div class="account">
    <div class="row">
        <div class="col-xl-8 col-sm-12">
            <div class="slider-section">
                <div class="slider-title">
                    <h6 class="float-left">Google Pixel 3 XL (Black, 4GB RAM, 64GB Storage)</h6>
                    <span class="alert-yellow float-right">25% off</span>
                    <div class="clearfix"></div>
                </div>
                <!-- Start Slider -->
                <div class="slider2">
                    <div class="owl-carousel">
                        <div class="item">
                            <img src="images/Google-Pixel-3-XL-review-1280-720-3.png" alt="Image">
                        </div>
                        <div class="item">
                            <img src="images/Google-Pixel-3-XL-review-1280-720-3.png" alt="Image">
                        </div>
                        <div class="item">
                            <img src="images/Google-Pixel-3-XL-review-1280-720-3.png" alt="Image">
                        </div>
                        <div class="item">
                            <img src="images/Google-Pixel-3-XL-review-1280-720-3.png" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- End Slider -->

                <!-- Start List -->
                <ul class="list-unstyled row">
                    <li class="col-md-4 col-sm-6">Address : Abu Dhabi</li>
                    <li class="col-md-4 col-sm-6">Brand : <img src="images/unnamed.png" alt="Image" width="70"></li>
                    <li class="col-md-4 col-sm-6">Model : Google Pixel 3 XL </li>
                    <li class="col-md-4 col-sm-6">Condition : Used </li>
                    <li class="col-md-4 col-sm-6">Regular Price : <span class="red">775 AED</span></li>
                    <li class="col-md-4 col-sm-6">Sell Price : <span class="red">581.5 AED</span></li>
                </ul>
                <!-- End List -->

                <span class="line"></span>

                <!-- Start border -->
                <div class="border" style="margin-bottom: 25px;">
                    <h6>Google Pixel 3 XL (Black, 4GB RAM, 64GB Storage)</h6>
                    <span style="font-size: 15px;">Share with Friends</span>
                    <a href="#" title="Facebook"><i class="fab fa-facebook-f fa-fw"></i></a>
                    <a href="#" title="Twitter"><i class="fab fa-twitter fa-fw"></i></a>
                    <a href="#" title="Whatsapp"><i class="fab fa-whatsapp fa-fw"></i></a>
                </div>
                <!-- End Border -->

                <span class="line"></span>

                <!-- Satrt Like Box -->
                <div class="like-box">
                    <h6>You may also like :</h6>

                    <div class="row">
                        <div class="item col-md-4 col-sm-6 wow fadeIn" data-wow-offset="350" data-wow-delay="0s">
                            <div class="image"><img src="images/honor-magic-1.png" alt="Image" style="height: 126px;" class="short"></div>
                            <span class="offer">15% off</span>
                            <h6>Honor Magic 2 for sale</h6>
                        </div><!-- End Item -->
                        <div class="item col-md-4 col-sm-6 wow fadeIn" data-wow-offset="350" data-wow-delay=".3s">
                            <div class="image"><img src="images/oneplus-3t-5898.png" alt="Image" class="img-fluid"></div>
                            <span class="offer">30% off</span>
                            <h6>OnePlus 3T for sale</h6>
                        </div><!-- End Item -->
                        <div class="item col-md-4 col-sm-6 wow fadeIn" data-wow-offset="350" data-wow-delay=".6s">
                            <div class="image"><img src="images/Xiaomi-Mi-MIX-3.png" alt="Image" class="img-fluid"></div>
                            <span class="offer">10% off</span>
                            <h6>Xiaomi Mi Mix 3for sale</h6>
                        </div><!-- End Item -->
                        <div class="item col-md-4 col-sm-6 wow fadeIn" data-wow-offset="350" data-wow-delay=".9s">
                            <div class="image"><img src="images/10_759.png" alt="Image" class="img-fluid"></div>
                            <span class="offer">20% off</span>
                            <h6>Nokia 7.1 for sale</h6>
                        </div><!-- End Item -->
                        <div class="item col-md-4 col-sm-6 wow fadeIn" data-wow-offset="350" data-wow-delay="1.2s">
                            <div class="image"><img src="images/ssga-fund-gadgets.png" style="height: 126px;" class="short"></div>
                            <span class="offer">12% off</span>
                            <h6>Nokia 2 for sale</h6>
                        </div><!-- End Item -->
                        <div class="item col-md-4 col-sm-6 wow fadeIn" data-wow-offset="350" data-wow-delay="1.5s">
                            <div class="image"><img src="images/oneplus-3t-5898.png" alt="Image" class="img-fluid"></div>
                            <span class="offer">7% off</span>
                            <h6>Nokia 1 Plus for sale</h6>
                        </div><!-- End Item -->
                    </div>
                </div>
                <!-- End Like Box -->

                <span class="line" style="margin-top: 2px;"></span>

                <!-- Start Comments Area -->
                <div class="comment">
                    <h6>Comments :</h6>
                    <form action="" method="">
                        <div class="form-group mb-3">
                            <textarea class="form-control" placeholder="Write your comment here">
                            </textarea>
                        </div>
                        <div class="form-group mb-3 text-right">
                            <button type="submit" class="button">Post Comment</button>
                        </div>
                    </form>

                    <!-- Start Reply area -->
                    <div class="reply-area">

                        <div class="panel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mx-1">
                                        <h6> Salih Naif <a href="#"><i class="fas fa-reply"></i> Reply</a></h6>
                                        <small>Yesterday</small>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="mx-2">
                                        <p>هل لا يزال هذا العرض متوفراً</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Main Panel -->


                        <div class="panel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mx-1">
                                        <h6>محمد خالد <a href="#"><i class="fas fa-reply"></i> Reply</a></h6>
                                        <small>8 Hours ago</small>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="mx-2">
                                        <p>عرض بقيمة 600 درهم</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-reply">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6>You</h6>
                                        <small>08-03-2019 - 4:37 PM</small>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <p>هذا السعر غير قابل للتفاوض</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Main Panel -->

                        <div class="panel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mx-1">
                                        <h6>فراس محمد <a href="#"><i class="fas fa-reply"></i> Reply</a></h6>
                                        <small>8 Hours ago</small>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="mx-2">
                                        <p>كم السعر لو سمحت ؟</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Main Panel -->

                        <div class="panel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mx-1">
                                        <h6>محمد سيد <a href="#"><i class="fas fa-reply"></i> Reply</a></h6>
                                        <small> 08-03-2019 - 4:00 PM</small>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="mx-2">
                                        <p>كم قيقا التلفون</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-reply">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6>You</h6>
                                        <small>08-03-2019 - 4:37 PM</small>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <p>التلفون 64 قيقا</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Main Panel -->
                    </div>
                    <!-- End Reply area -->
                </div>
                <!-- End Comments Area -->

            </div>
        </div><!-- Col #1 -->

        <div class="col-xl-4 col-sm-12">
            <div class="border">
                <a href="#" class="red">Sell Price : 581.5 <span>AED</span></a>
            </div><!-- #1 -->
            <div class="border">
                <a href="#" class="red"><i class="far fa-heart"></i> Add to favorite</a>
                <a href="#" class="red"><i class="fas fa-frown"></i> Report Ad</a>
            </div><!-- #2 -->
            <div class="border">
                <div class="person" style="overflow: hidden;">
                    <img src="images/user.png" alt="User Image" class="float-left rounded-circle" width="70">
                    <div class="float-left data-person">
                        <h6>Mohamed Ali</h6>
                        <span>Member Since : 19-01-2019</span>
                    </div>
                    <div class="clarfix"></div>
                </div>
            </div><!-- #3 -->
            <div class="border">
                <i class="fas fa-mobile-alt"></i>
                <span class="phone">+971565983398</span>
            </div><!-- #3 -->
            <div class="border">
                <i class="fab fa-whatsapp tow"></i>
                <span class="phone">+971545833396</span>
            </div><!-- #4 -->
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232565.37346064637!2d54.41853622413337!3d24.387078860425174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e440f723ef2b9%3A0xc7cc2e9341971108!2sAbu+Dhabi+-+United+Arab+Emirates!5e0!3m2!1sen!2sus!4v1552462566154" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div><!-- Map -->
        </div><!-- Col #2 -->
    </div><!-- End Row -->
</div><!-- End Account -->