<div class="main-title main-title2" style="margin-bottom: 30px;">
    <small><a href="/">Home</a> <i class="fas fa-chevron-right"></i> <a href="/">Categories </a> <i class="fas fa-chevron-right"></i> {{product?.category}}</small>
</div><!-- End Title -->

<div class="account">
    <div class="row">
        <div class="col-xl-8 col-sm-12">
            <div class="slider-section">
                <div class="slider-title">
                    <h6 class="float-left">{{product?.title }}</h6>
                    <span class="alert-yellow float-right">{{math(product?.reg_price,product?.sale_price)}}% off</span>
                    <div class="clearfix"></div>
                </div>
                <!-- Start Slider -->
                <div class="slider2">
                    <div class="owl-carousel">
                        <div class="item">
                            <img src="images/Google-Pixel-3-XL-review-1280-720-3.png" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- End Slider -->

                <!-- Start List -->
                <ul class="list-unstyled row">
                    <li class="col-md-4 col-sm-6">Address :{{product?.city }}</li>
                    <li class="col-md-4 col-sm-6">Brand : <img src="{{product?.brand_image}}" alt="Image" width="70" style="max-width: 25px;"></li>
                    <!-- <li class="col-md-4 col-sm-6">Model : Google Pixel 3 XL </li>
                    <li class="col-md-4 col-sm-6">Condition : Used </li> -->
                    <li class="col-md-4 col-sm-6">Regular Price : <span class="red">{{product?.reg_price }} AED</span></li>
                    <li class="col-md-4 col-sm-6">Sell Price : <span class="red">{{product?.sale_price }} AED</span></li>
                </ul>
                <!-- End List -->

                <span class="line"></span>

                <!-- Start border -->
                <div class="border" style="margin-bottom: 25px;">
                    <h6>{{product?.description }}</h6>
                    <span style="font-size: 15px;">Share with Friends</span>
                    <a href="javascript:;" title="Facebook" deisabled><i class="fab fa-facebook-f fa-fw"></i></a>
                    <a href="javascript:;" title="Twitter"><i class="fab fa-twitter fa-fw"></i></a>
                    <a href="javascript:;" title="Whatsapp"><i class="fab fa-whatsapp fa-fw"></i></a>
                </div>
                <!-- End Border -->

                <span class="line"></span>

                <!-- Satrt Like Box -->
                <div class="like-box">
                    <h6>You may also like :</h6>

                    <div class="row">
                        <div class="item col-md-4 col-sm-6 wow fadeIn" data-wow-offset="350" data-wow-delay="0s">
                            <div class="image"><img src="images/honor-magic-1.png" alt="Image" style="height: 126px;" class="short"></div>
                            <span class="offer">15% off</span>
                            <h6>Honor Magic 2 for sale</h6>
                        </div><!-- End Item -->
                        <div class="item col-md-4 col-sm-6 wow fadeIn" data-wow-offset="350" data-wow-delay=".3s">
                            <div class="image"><img src="images/oneplus-3t-5898.png" alt="Image" class="img-fluid"></div>
                            <span class="offer">30% off</span>
                            <h6>OnePlus 3T for sale</h6>
                        </div><!-- End Item -->
                        <div class="item col-md-4 col-sm-6 wow fadeIn" data-wow-offset="350" data-wow-delay=".6s">
                            <div class="image"><img src="images/Xiaomi-Mi-MIX-3.png" alt="Image" class="img-fluid"></div>
                            <span class="offer">10% off</span>
                            <h6>Xiaomi Mi Mix 3for sale</h6>
                        </div><!-- End Item -->
                        <div class="item col-md-4 col-sm-6 wow fadeIn" data-wow-offset="350" data-wow-delay=".9s">
                            <div class="image"><img src="images/10_759.png" alt="Image" class="img-fluid"></div>
                            <span class="offer">20% off</span>
                            <h6>Nokia 7.1 for sale</h6>
                        </div><!-- End Item -->
                        <div class="item col-md-4 col-sm-6 wow fadeIn" data-wow-offset="350" data-wow-delay="1.2s">
                            <div class="image"><img src="images/ssga-fund-gadgets.png" style="height: 126px;" class="short"></div>
                            <span class="offer">12% off</span>
                            <h6>Nokia 2 for sale</h6>
                        </div><!-- End Item -->
                        <div class="item col-md-4 col-sm-6 wow fadeIn" data-wow-offset="350" data-wow-delay="1.5s">
                            <div class="image"><img src="images/oneplus-3t-5898.png" alt="Image" class="img-fluid"></div>
                            <span class="offer">7% off</span>
                            <h6>Nokia 1 Plus for sale</h6>
                        </div><!-- End Item -->
                    </div>
                </div>
                <!-- End Like Box -->

                <span class="line" style="margin-top: 2px;"></span>

                <!-- Start Comments Area -->
                <div class="comment">
                    <h6>Comments :</h6>
                    <form action="" method="">
                        <div class="form-group mb-3">
                            <textarea class="form-control" placeholder="Write your comment here"></textarea>
                        </div>
                        <div class="form-group mb-3 text-right">
                            <ng-container *ngIf="!_authService.loggedIn(); else elseTemplate">
                                    <button type="submit"  data-target=".bd-example-modal-xl" data-toggle="modal" class="button">Post Comment</button>

                            </ng-container>
                            <ng-template #elseTemplate>
                                    <button type="submit" class="button">Post Comment</button>

                            </ng-template>
                            
                        </div>
                    </form>

                    <!-- Start Reply area -->
                    <div class="reply-area">

                        
                        <div *ngFor="let comment of commments" class="panel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mx-1">
                                        <h6>{{comment.customerName}} <a href="javascript:;"><i class="fas fa-reply"></i> Reply</a></h6>
                                        <small>{{comment.postedOn}}</small>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="mx-2">
                                        <p>{{comment.comment}}</p>
                                    </div>
                                </div>
                            </div>
                            <div  *ngFor="let reply of comment.replyes" class="panel panel-reply">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6>{{reply.customerName}}</h6>
                                        <small>{{reply.postedOn}}</small>
                                    </div>
                                    <div class="col-sm-9 text-right">
                                        <p>{{reply.comment}}</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Main Panel -->
                    </div>
                    <!-- End Reply area -->
                </div>
                <!-- End Comments Area -->

            </div>
        </div><!-- Col #1 -->

        <div class="col-xl-4 col-sm-12">
            <div class="border">
                <a href="javascript:;" class="red">Sell Price : {{product?.sale_price }} <span>AED</span></a>
            </div><!-- #1 -->
            <div class="border">
                <ng-container *ngIf="!_authService.loggedIn(); else elseTemplate">
                        <a href="javascript:;"  data-target=".bd-example-modal-xl" data-toggle="modal" class="red"><i class="far fa-heart"></i> Add to favorite</a>
                        <a href="javascript:;"  data-target=".bd-example-modal-xl" data-toggle="modal" class="red"><i class="fas fa-frown"></i> Report Ad</a>
                </ng-container>
                <ng-template #elseTemplate>
                            <ng-container *ngIf="product?.likes==true; else elseTemplate">
                                    <a href="javascript:;"  class="red"><i class="fas fa-heart"></i> Remove from favorite</a>
                            </ng-container>
                            <ng-template #elseTemplate>
                                    <a href="javascript:;" (click)="onLike()"  class="red"><i class="far fa-heart"></i> Add to favorite</a>

                            </ng-template>
                        <a href="javascript:;"  data-target=".bd-example-modal-xl" data-toggle="modal" class="red"><i class="fas fa-frown"></i> Report Ad</a>
                </ng-template>
                
               
            </div><!-- #2 -->
            <div class="border">
                <div class="person" style="overflow: hidden;">
                    <img src="images/user.png" alt="User Image" class="float-left rounded-circle" width="70">
                    <div class="float-left data-person">
                        <h6>{{product?.customerName}}</h6>
                        <!-- <span>Member Since : 19-01-2019</span> -->
                    </div>
                    <div class="clarfix"></div>
                </div>
            </div><!-- #3 -->
            <div class="border">
                <i class="fas fa-mobile-alt"></i>
                <span class="phone">{{product?.customerMobile}}</span>
            </div><!-- #3 -->
            <!--<div class="border">
                <i class="fab fa-whatsapp tow"></i>
                <span class="phone">+971545833396</span>
            </div> #4 -->
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232565.37346064637!2d54.41853622413337!3d24.387078860425174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e440f723ef2b9%3A0xc7cc2e9341971108!2sAbu+Dhabi+-+United+Arab+Emirates!5e0!3m2!1sen!2sus!4v1552462566154" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div><!-- Map -->
        </div><!-- Col #2 -->
    </div><!-- End Row -->
</div><!-- End Account -->