<ngx-skeleton-loader *ngIf="loaded"
    count="9"
    [theme]="{ 'border-radius': '0', height: '50px' }"
  ></ngx-skeleton-loader>
<ng-container *ngIf="!loaded">
<div class="main-title main-title2" style="margin-bottom: 30px;">
    <small><a href="/" routerLink="/home">{{'Home' | translate }}</a> <i class="fas fa-chevron-right"></i>   <a href=""  [routerLink]="['/results']" [queryParams]="{ category: product.category}">  {{product.category}} </a></small>
</div><!-- End Title -->

<div class="account">
    <div class="row">
        <div class="col-xl-8 col-sm-12">
            <div class="slider-section">
                <div class="slider-title">
                    <h6 class="float-left"   >{{product?.title }}</h6>
                    <span class="alert-yellow float-right">{{math(product?.reg_price,product?.sale_price)}}% {{'off' | translate }}</span>
                    <div class="clearfix"></div>
                </div>
                <ngx-slideshow-acracode
                 [images]="imagesUrl"
                 [auto]="true"
                  [timeLap]="6000">
                </ngx-slideshow-acracode>
                <!-- Start Slider

                <div class="slider2">
                    <div class="owl-carousel">
                        <div *ngFor="let url of product?.media" class="item">
                            <img  style="max-height: 360px" src="{{url.url}}" alt="Image">
                        </div>
                    </div>
                </div>
                 End Slider -->
                  <!-- Start Slider -->
                  <!-- <div class="slider2">
                        <div [innerHTML]="slides" id="slider" class="owl-carousel">

                        </div>
                    </div> -->
                    <!-- End Slider -->

                <!-- Start List -->
                <ul class="list-unstyled row">
                    <li class="col-md-4 col-sm-6">{{'City' | translate }} :{{product?.city }}</li>
                    <!-- <li class="col-md-4 col-sm-6">Model : Google Pixel 3 XL </li>
                    <li class="col-md-4 col-sm-6">Condition : Used </li> -->
                    <li class="col-md-4 col-sm-6 ">{{'Regular Price' | translate }} : <span class="red oldPrice">{{product?.reg_price }} AED</span></li>
                    <li class="col-md-4 col-sm-6">{{'Sell Price' | translate }} : <span class="red">{{product?.sale_price }} AED</span></li>
                    <li class="col-md-4 col-sm-6">{{'Brand' | translate }} : <img [src]="product?.brand_image" appImage alt="Image" width="70" style="max-width: 25px;"></li>
                    <li class="col-md-4 col-sm-6" *ngFor="let attri of attributes" >
                    {{attri.group}}:  {{attri.attributes}}</li>
                </ul>
                <!-- End List -->
                <bar-rating  name="rating" [rate]="product?.rating" [max]="5" [readOnly]="true"></bar-rating>
                <span class="line"></span>

                <!-- Start border -->
                <div class="border" style="margin-bottom: 25px;">
                    <h6>{{product?.description}}</h6>
                </div>
                <!-- End Border -->

                <span class="line"></span>

                <!-- Satrt Like Box -->
                <div class="like-box">
                    <h6>{{'You may also like' | translate }} :</h6>

                    <div class="row">
                        <div (click)="goToSim(item.productId)" *ngFor="let item of simillarProduct" class="item col-md-4 col-sm-6 wow fadeIn" data-wow-offset="350" data-wow-delay="0s">
                            <div class="image"><img appImage [src]="item?.media[0].url" alt="Image" style="height: 126px;" class="short"></div>
                            <span class="offer"> {{math(item.reg_price,item.sale_price)}}% </span>
                            <h6> {{item.title}} </h6>
                        </div><!-- End Item -->
                    </div>
                </div>
                <!-- End Like Box -->

                <span class="line" style="margin-top: 2px;"></span>

                <!-- Start Comments Area -->
                <div class="comment">
                    <h6>{{'Comments' | translate }} :</h6>
                    <form #commentForm="ngForm" (ngSubmit)="addcomment(commentForm,product?.productId)">
                        <div class="form-group mb-3">
                            <textarea class="form-control" name="comment" ngModel placeholder=" {{'Write your comment here'|translate}} "></textarea>
                        </div>
                        <div class="form-group mb-3 text-right">
                                <bar-rating *ngIf="!_authService.loggedIn()" (rateChange)="getModalLogin(formRating)" name="rating" [(ngModel)]="formRating"  [rate]="0" [max]="5" ></bar-rating>
                                <bar-rating *ngIf="_authService.loggedIn()" (rateChange)="setRate(formRating)" name="rating" [(ngModel)]="formRating"  [rate]="0" [max]="5" ></bar-rating>
                                <!-- <pre> {{ formRating }} </pre> -->
                            <ng-container *ngIf="!_authService.loggedIn(); else Template">
                                    <button type="submit"  data-target=".bd-example-modal-xl" data-toggle="modal" class="button">{{'Post Comment' | translate }}</button>

                            </ng-container>
                            <ng-template #Template>
                                    <button type="submit" class="button">{{'Post Comment' | translate }} &nbsp; <i *ngIf="postLoaded" class="fa fa-spinner fa-spin"></i> </button>
                            </ng-template>

                        </div>
                    </form>

                    <!-- Start Reply area -->
                    <div class="reply-area">


                        <div *ngFor="let comment of commments" class="panel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mx-1">
                                        <h6>{{comment.customerName}} <a href="javascript:;" (click)="addReply(comment)" data-toggle="modal" data-target="#addReply"><i class="fas fa-reply"></i> {{'Reply' | translate }}</a></h6>
                                        <small>{{comment.postedOn}}</small>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="mx-2">
                                        <p>{{comment.comment}}</p>
                                    </div>
                                </div>
                            </div>

                            <div  *ngFor="let reply of comment.replyes" class="panel panel-reply">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6>{{reply.customerName}}</h6>
                                        <small>{{reply.postedOn}}</small>
                                    </div>
                                    <div class="col-sm-9 text-right">
                                        <p>{{reply.comment}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Reply area -->
                </div>
                <!-- End Comments Area -->



            </div>
        </div><!-- Col #1 -->

        <div class="col-xl-4 col-sm-12">
            <div class="border">
                <a href="javascript:;"  [appLike]="id" class="red">{{'Sell Price' | translate }} : {{product?.sale_price }} <span>AED</span></a>
            </div><!-- #1 -->
            <div class="border">
                <!-- <ng-container *ngIf="!_authService.loggedIn(); else elseTemplate">
                        <a href="javascript:;"  data-target=".bd-example-modal-xl" data-toggle="modal" class="red"><i class="far fa-heart"></i> {{'Add to favorite' | translate }}</a>
                        <a href="javascript:;"  data-target=".bd-example-modal-xl" data-toggle="modal" class="red"><i class="fas fa-frown"></i> {{'Report Ad' | translate }}</a>
                </ng-container>
                <ng-template #elseTemplate> -->

                                    <a appLogin href="javascript:;" (click)="onLike(isLike)"  class="red"> <i [class.fas]="liked" id="likeClass"  [appLike]="id" class="far fa-heart"></i> {{'Add to favorite' | translate }}</a>

                        <a href="javascript:;" appLogin  data-target=".bd-example-modal-xl" data-toggle="modal" class="red"><i class="fas fa-frown"></i> {{'Report Ad' | translate }}</a>
                <!-- </ng-template> -->


            </div><!-- #2 -->
            <div class="border">
                <div class="person" style="overflow: hidden;">
                    <img appImage src="{{product?.customerPic}}" alt="User Image" class="float-left rounded-circle" width="70">
                    <div class="float-left data-person">
                        <h6>{{product?.customerName}}</h6>
                        <!-- <span>Member Since : 19-01-2019</span> -->
                    </div>
                    <div class="clarfix"></div>
                </div>
            </div><!-- #3 -->
            <div class="border">
                <i class="fas fa-mobile-alt"></i>
                <span class="phone">{{product?.customerMobile}}</span>
            </div><!-- #3 -->
            <!--<div class="border">
                <i class="fab fa-whatsapp tow"></i>
                <span class="phone">+971545833396</span>
            </div> #4 -->
            <!-- <div class="map">
                <iframe src="https://www.google.com/maps/embed?q=Space+Needle,Seattle+WA" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div> -->
            <div id="googleMap" style="width: 350px; height: 350px;"></div>

        </div><!-- Col #2 -->
    </div><!-- End Row -->
</div><!-- End Account -->



  <!-- Modal -->
  <div class="modal fade" id="addReply" tabindex="-1" role="dialog" aria-labelledby="addReply" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div>
            <textarea class="form-control"  name="comment" [(ngModel)]="replyComment" placeholder=" {{'Write your comment here'|translate}} " rows="10"></textarea>
          </div>
          <button  (click)="saveReply()" [disabled]="replyComment == null || replyComment == '' " type="button" class="btn btn-primary"><i class="fa fa-spinner fa-spin" *ngIf="replySaving"></i>  Save changes</button>
        </div>
      </div>
    </div>
  </div>


</ng-container>
