



    <app-header>
    </app-header>


<div class="container">

    <!-- =========== STRAT CONTENT PAGE =========== -->
    <div class="content-page">
        <router-outlet>


        </router-outlet>
    </div>
    <!-- ============ END CONTENT PAGE ============ -->
</div>


    <!-- START DOWN BUTTON SECTION -->
    <div class="down-button">
      <div class="container">
          <a [href]="'https://'+google_play">
              <div class="button-down wow fadeIn" data-wow-offset="450" data-wow-delay="0">
                  <img class=" float-left img-fluid" src="assets/images/icons/google-play.png" alt="Google Play Icon" width="30">
                  <div class="text float-left text-center">
                      <h6> {{"Download" | translate}} </h6>
                      <span> {{"Google Play" | translate}} </span>
                  </div>
                  <div class="clearfix"></div>
              </div><!-- Button Down -->
          </a>

          <a [href]="'https://'+app_store">
              <div class="button-down wow fadeIn" data-wow-offset="450" data-wow-delay=".3s">
                  <img class=" float-left img-fluid" src="assets/images/icons/app-store.png" alt="App store Icon" width="30">
                  <div class="text float-left text-center">
                    <h6> {{"Download" | translate}} </h6>
                      <span> {{"Apple Store" | translate}} </span>
                  </div>
                  <div class="clearfix"></div>
              </div><!-- Button Down -->
          </a>
      </div><!-- End Container -->
    </div>
    <!-- END DOWN BUTTON SECTION -->

    <!-- START FOOTER AREA -->
    <footer class="footer py-5">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-sm-6">
                  <div class="end-foot">
                                                 <img src="assets/images/logo.png" alt="" width="160">
                      <p class="mt-3"> {{"Just cost is an application specialized in publishing classified ads for merchandise that sold at cost only, in UAE and all over the gulf countries."| translate}} </p>
                  </div>
              </div><!-- Col #1 -->
              <div class="col-xl-auto col-sm-6">
                  <div class="end-foot">
                      <h6>{{ 'Useful Links' | translate }}</h6>
                      <ul class="list-unstyled">
                          <li><a routerLink="/home">{{ 'Home' | translate }}</a></li>
                          <li><a routerLink="/about">{{ 'About' | translate }}</a></li>
                          <!-- <li><a href="javascript:;">{{ 'Blog' | translate }}</a></li>
                          <li><a href="javascript:;">{{ 'Login' | translate }}</a></li>
                          <li><a href="javascript:;">{{ 'Register' | translate }}</a></li> -->
                      </ul>
                      <ul class="list-unstyled">
                          <!-- <li><a href="javascript:;">{{ 'Pricing Plans' | translate }}</a></li> -->
                          <li><a routerLink="/faq" >{{ 'FAQ' | translate }}</a></li>
                          <!-- <li><a href="javascript:;">{{ 'All Ads' | translate }}</a></li> -->
                          <li><a routerLink="/contact">{{ 'Help & Contact us' | translate }}</a></li>
                          <li><a routerLink="/terms">{{ 'Terms & Conditions' | translate }}</a></li>
                      </ul>
                  </div>
              </div><!-- Col #2 -->
              <div class="col-xl-auto col-sm-12">
                  <!-- Start Image Phone -->
                  <div class="image-phone d-xl-block">
                  </div><!-- End Image Phone -->
                  <div class="end-foot text-center">
                      <h6>{{'Contact with us' | translate}} </h6>
                      <div class="links-social">
                          <a [href]="'https://'+facebook" title="Facebook"><img src="assets/images/icons/facebook.png"></a>
                          <a [href]="'https://'+twitter" title="Twitter"><img src="assets/images/icons/twitter.png"></a>
                          <a [href]="'https://'+instagram" title="Instagram"><img src="assets/images/icons/instagram.png"></a>
                          <a [href]="'https://'+linkedin" title="Linkedin"><img src="assets/images/icons/linkedin.png"></a>
                      </div>
                  </div>
              </div><!-- Col #3 -->
          </div><!-- End Row -->
      </div><!-- End Container -->
    </footer>
    <!-- END FOOTER AREA -->


