  <!-- START SLIDER -->
    <div class="slider d-none-sm" id="slider">
            <div class="owl-carousel" >
            </div>
    </div>
<!-- END SLIDER -->

<!-- START FEATURED ADS -->
<section class="featured-ads">
    <h3 class="main-title">Featured ads</h3>
    <div class="ads py-4">
        <div class="row">
            
           <div *ngFor="let item of items; let i=index" class="col-xl-3 col-sm-6">
                <div class="panel wow fadeIn" data-wow-offset="0" data-wow-delay="0s">
                    <div class="item">
                        <img src="{{item.media[0].url}}" alt="Image" class="img-fluid">
                        <span class="disc">Discount <span> {{reg_price *sale_price/100}} %</span></span>
                    </div>
                    <div class="info">
                        <h5> <a routerLink="/product/{{item.productId}}">{{item.title}}</a></h5>
                        <span>{{item.category}}</span>
                    </div>
                    <div class="end-info">
                        <a href="#"><i class="far fa-star"></i></a>
                        <a href="#"><i class="far fa-star"></i></a>
                        <a href="#"><i class="far fa-star"></i></a>
                        <a href="#"><i class="far fa-star"></i></a>
                        <a href="#" class="button float-right"><i class="far fa-heart"></i> save</a>
                        <div class="claerfix"></div>
                    </div>
                </div>
            </div> 

            <!-- <div class="col-xl-3 col-sm-6">
                    <div class="panel wow fadeIn" data-wow-offset="0" data-wow-delay="0s">
                        <div class="item">
                            <img src="http://admin.just-cost.com/storage/products_media/p1.png" alt="Image" class="img-fluid">
                            <span class="disc">Discount <span>40%</span></span>
                        </div>
                        <div class="info">
                            <h5>Mobile</h5>
                            <span>Smartphone for sale</span>
                        </div>
                        <div class="end-info">
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>

                            <a href="#" class="button float-right"><i class="far fa-heart"></i> save</a>
                            <div class="claerfix"></div>
                        </div>
                    </div>
                </div> -->
        </div><!-- End Row -->
    </div><!-- End Ads-->
</section>
<!-- START FEATURED ADS -->

<!-- START BROWSE CATEGORIES SECTION -->
<section class="browse-Categories">
    <h3 class="main-title">Browse Categories</h3>
    <div class="category py-4">
        <div class="row">
            <div *ngFor="let category of categories" class="col-xl-3 col-sm-6">
                <div class="panel wow fadeIn" data-wow-offset="200" data-wow-duration="2s">
                    <div class="icon">
                        <img src="{{category.image}}" alt="Car Icon" width="47">
                        <span>{{category.name}}</span>
                    </div>
                    <div class="links">
                        <ul class="list-unstyled">
                            <li *ngFor="let sub of category.subs;"><a routerLink="/products/{{sub.id}}">{{sub.name}}</a> <span>{{sub.count}}</span></li>
                        </ul>
                    </div>
                </div>
            </div><!-- Col #1 -->

        </div><!-- End Row -->
    </div><!-- End Category -->
</section>
<!-- END BROWSE CATEGORIES SECTION -->