<div class="row">
    <div class="col-xl-8 col-sm-12">
        <div class="item row" *ngFor="let product of products | paginate: { itemsPerPage: itemsPerPage, currentPage: p } | filter: filterBrand ">
            <div class="photo text-center col-sm-3">
                <img appImage src="{{product?.media[0]?.url}}" alt="Image" class="img-fluid">
            </div><!-- Photo -->
            <div class="about-photo  col-sm-9">
                <div class="float-left py-3">
                    <h6><a routerLink="/product/{{product?.productId}}">{{product?.title}}</a></h6>
                    <small>{{(product.postedOn*1000)  | date }}</small>
                </div>
                <div class="float-right one one2 py-3">
                    <span class="alert-yellow">
                        {{math(product.reg_price,product.sale_price)}}%
                        {{ 'off' | translate }}
                      </span>
                    <span class="red">AED {{product.sale_price}}</span>
                </div>
                <div class="clearfix"></div>
                <span class="line"></span>
                <div class="float-left py-3">
                    <small style="margin-right: 0;">{{'Home' | translate }} <i class="fas fa-chevron-right fa-sm"></i>
                      {{ 'Categories' | translate }} <i class="fas fa-chevron-right fa-sm"></i>
                       <label *ngIf="translate.getlocalLang()=='ar'" > {{product.category}}  </label>
                       <label *ngIf="translate.getlocalLang()=='en'" > {{product.category}}  </label>
                      </small><br>
                    <bar-rating  name="rating" [rate]="product?.ratings" [max]="5" [readOnly]="true"></bar-rating>
                </div>
                <div>
                    <label href="#" class="button2"><i class="fas fa-phone"></i> {{product?.mobile}} </label>
                    <a href="javascript:;"  (click)="getInfoMap(product)" class="button2"  data-toggle="modal" data-target="#locationMap">
                      <i class="fas fa-map-marker-alt"></i> {{ "View Location" | translate}}
                    </a>
                    <div [class.text-right] ="translate.getlocalLang()=='en'" [class.text-left] ="translate.getlocalLang()=='ar'" class="grey">
                        <a  (click)="like(product.productId)" href="javascript:;" class="button2"><i [appLike]="product.productId" class="far fa-heart"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div><!-- About Photo-->
        </div>

        <div class="paginaion text-center">
            <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <div class="col-xl-8 col-sm-12">

      </div>
</div>
