  <!-- =============== START PAGE WRAPPER OF CONTENT =============== -->

    <!-- =========== STRAT CONTENT PAGE =========== -->

  <div class="container">
    <div class="reset-page" style="position: static; transform: none; margin: auto; margin-top: 20px;">
      <div class="panel text-center">
        <img src="assets/images/logo.png" alt="Just Coast Logo" width="250">
        <div>
          <p style="text-transform: none;">{{"Enter your email address and we'll send you an email with instructions to reset your password" | translate}}</p>
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" aclass="mt-4">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="youremail@domain.com" name="accountKey"  #email="ngModel"  [class.is-valid]="email.valid && email.touched" [class.is-invalid]="email.invalid && (email.touched || f.submitted)"   ngModel email required>
            <small  *ngIf="email.invalid && (email.touched || f.submitted)" class="form-text" style="color: red" >Please Write a valid email.</small>
          </div>
          <button type="submit" class="btn btn-primary">
            {{"Reset Password" | translate}}
            <i *ngIf="submitting"  class="fa fa-spin fa-spinner"></i>
          </button>
        </form>
        <br>
        <!-- <span style="text-transform: none">Back to <a href="javascript:;">login</a></span> -->
      </div>
    </div>
    <br>
  </div>
<!--  ========= END CONTENT PAGE ============ &ndash;&gt;-->
