<div class="faq-content">
    <h3 style="font-size: 25px; text-transform: none">{{"FAQ" | translate }}</h3>
    <div class="row">
        <div class="col-sm-12">
            <div class="">
                <div id="accordion" class="panel-group" style="margin-top: 20px">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#panelBodyOne" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">This should be a question ?</a>
                            </h4>
                        </div>
                        <div id="panelBodyOne" class="panel-collapse">
                            <div class="panel-body">
                                <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#panelBodyTwo" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">This should be a question ?</a>
                            </h4>
                        </div>
                        <div id="panelBodyTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#panelBodyThree" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">This should be a question ?</a>
                            </h4>
                        </div>
                        <div id="panelBodyThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
                            </div>
                        </div>
                    </div>
                       <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#panelBodyfour" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">This should be a question ?</a>
                            </h4>
                        </div>
                        <div id="panelBodyfour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
                            </div>
                        </div>

                    </div>
                     <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#panelBodyfive" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">This should be a question ?</a>
                            </h4>
                        </div>
                        <div id="panelBodyfive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
                            </div>
                        </div>

                    </div>
                      <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#panelBodysix" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">This should be a question ?</a>
                            </h4>
                        </div>
                        <div id="panelBodysix" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
                            </div>
                        </div>

                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#panelBodyseven" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">This should be a question ?</a>
                            </h4>
                        </div>
                        <div id="panelBodyseven" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
                            </div>
                        </div>

                    </div>
                     <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#panelBodyeight" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">This should be a question ?</a>
                            </h4>
                        </div>
                        <div id="panelBodyeight" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
                            </div>
                        </div>

                    </div>
                      <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#panelBodynine" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">This should be a question ?</a>
                            </h4>
                        </div>
                        <div id="panelBodynine" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div><!-- End Faq -->
